.git
.gitignore
.env
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
docker
docker-compose.yml
Dockerfile
.editorconfig
.styleci.yml
README.md
IMPLEMENTATION_PLAN.md
